<html>
    <head th:replace="fragments/header :: header"></head>
    <body class="skin-blue sidebar-mini">
        <header th:replace="fragments/heading"></header>
        <aside th:replace="fragments/menu"></aside>
        <div class="content-wrapper">
            <div class="content-header">
                <h1>List-Product</h1>
            </div>
            <div class="content">
                <div class="box box-default">
                    <div class="box-body">
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="product: ${listProduct}">
                                    <td th:text="${product.productName}"></td>
                                    <td th:text="${product.productStock}"></td>
                                    <td th:text="${product.productPrice}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>