<!DOCTYPE html>
<html>
    <head>
        <title>eInventory - Spring Hore 2016</title>
        <link rel="stylesheet" type="text/css" href="/css/materialize.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/eInventory.css"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/product">Product</a></li>
                    <li><a href="/cashier">Cashier</a></li>
                </ul>
            </div>
        </nav>
        <section>
            <div class="container">
                <center>
                    <h4>List Product</h4>
                </center>
                <table>
                    <thead>
                        <tr>
                            <th data-field="id">Name</th>
                            <th data-field="name">Item Name</th>
                            <th data-field="price">Item Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alan</td>
                            <td>Jellybean</td>
                            <td>$3.76</td>
                        </tr>
                        <tr>
                            <td>Jonathan</td>
                            <td>Lollipop</td>
                            <td>$7.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>