<html>
<head th:replace="fragments/header :: header"></head>
<body class="skin-blue sidebar-mini">
<header th:replace="fragments/heading"></header>
<aside th:replace="fragments/menu"></aside>
<div class="content-wrapper">
    <div class="content-header">
        <h1>Transaction</h1>
    </div>
    <div class="content">
        <form th:action="@{/transaction/submit}" onsubmit="submitTransaction(event)" method="post">
            <div class="box box-default">
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="col-md-6" style="padding-left: 0px;">
                            <div class="form-group">
                                <label>Nama Sales</label>
                                <input type="text" name="nama_sales" id="sales-name" class="form-control" placeholder="Sales Name"/>
                            </div>
                            <div class="form-group">
                                <label>Tanggal Penjualan</label>
                                <input type="date" name="tanggal_penjualan" id="transaction-date" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-right: 0px;">
                            <div class="form-group">
                                <label>Gross Amount</label>
                                <input type="text" name="gross_amount" id="gross-amount" value="0" class="form-control" readonly="readonly"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Search Product</label>
                            <input type="text" name="search_product" class="form-control" id="search-product"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th>ID Product</th>
                                    <th>Nama Product</th>
                                    <th>Quantity</th>
                                    <th>Sub Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="render-transaksi">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit Transaksi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>