<footer th:fragment="footer" class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.7
    </div>
    <strong>Copyright © 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
    reserved.
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/core/js/bootstrap.min.js"></script>
    <script src="/core/js/app.min.js"></script>
    <script src="/plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="/core/js/transaction.js"></script>
</footer>